dn: cn=changelog5,cn=config
changetype: add
objectClass: top
objectClass: extensibleObject
cn: changelog5
nsslapd-changelogdir: /var/lib/dirsrv/slapd-{{ instance }}/changelogdb

dn: cn=repman,cn=config
changetype: add
objectClass: top
objectClass: person
cn: repman
sn: repman
userPassword: {{ dmpasswd }}
